<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title class="title">Cadastro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="background-overlay"></div>
    
    <ion-card class="signup-card">
      <ion-card-header>
        <ion-card-title>💀 Preencha o Formulário 💀 </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="input-item">
          <ion-label position="stacked">Nome</ion-label>
          <ion-input placeholder="Digite o nome"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="Digite o Email"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input placeholder="Digite a Senha" type="password"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="stacked">Confirme a Senha</ion-label>
          <ion-input placeholder="Confirme a Senha" type="password"></ion-input>
        </ion-item>
        <ion-button expand="block" >Novo</ion-button> 
        <ion-button expand="block" >Alterar</ion-button> 
        <ion-button expand="block" href="http://localhost:8100/tabs/tab3">Gravar</ion-button> 
      </ion-card-content>
    </ion-card>
  </ion-content>